/* 全局样式表 */

html, body, #app {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}

html, body, div, span, a, img, ol, ul, li, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: "微软雅黑";
}

ul, ol, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 16px;
    font-weight: normal;
}

b, strong {
    font-weight: normal;
}

i, em {
    font-style: normal;
}

a, u {
    text-decoration: none;
}

img {
    border: 0;
    display: inline-block;
}

input, fieldset {
    outline: none;
    border: 0;
}

.clearfix::after {
    content: " ";
    clear: both;
    height: 0;
    overflow: hidden;
    display: block;
    visibility: hidden;
}

.clear_fix {
    zoom: 1;
}

img {
    vertical-align: middle;
    border: none;
}

.el-breadcrumb {
    margin-bottom: 15px;
    /* font-size: 12px; */
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

.el-table {
    margin-top: 15px;
}

.el-pagination {
    margin-top: 15px;
}

/* 级联菜单 */

.el-cascader-panel {
    height: 400px;
}
.el-steps{
    margin: 15px 0;
}
.el-step__title{
    font-size: 14px;
}
/* 富文本最低高度 */
.ql-editor{
    min-height: 310px;
}